.circle{
    height: 250px;
    width: 250px;
    background-color: brown;
    margin: 100px;
    color: #000;
    border-radius: 250px;
    display: flex;
   text-align: center;
 

}
#circle1{
    height: 0px;
    width: 0px;
    /* background-color: chartreuse; */
    /* border-left: cornflowerblue; */
    /* border-radius: 100px; */
    border: 50px solid red;
     border-top:50px solid transparent;
     border-right:50px solid transparent;
     border-bottom:100px solid blueviolet;
     border-left:50px solid transparent;
} 